In [8]:
from binance import storeOHLC
import plotly.graph_objects as go
from ipywidgets import interact
from tqdm.auto import tqdm
import pandas as pd

In [9]:
tickers = ['BTCUSDT', 'ETHUSDT', 'LTCUSDT', 'BCHUSDT']

In [6]:
for ticker in tqdm(tickers):
    storeOHLC(ticker, '2022-01-01', '2022-05-01', 5)

  0%|          | 0/4 [00:00<?, ?it/s]

In [11]:
OHLC = pd.read_hdf('quotes.hdf', 'BTCUSDT')
OHLC

                         Open      High       Low     Close     Volume
DateTime
2022-01-01 00:00:00  46216.93  46391.49  46208.37  46321.34  185.67558
2022-01-01 00:05:00  46321.34  46527.26  46280.00  46371.11  123.43577
2022-01-01 00:10:00  46369.79  46394.00  46276.22  46332.51   77.54574
2022-01-01 00:15:00  46332.52  46332.52  46236.27  46293.90  101.14315
2022-01-01 00:20:00  46295.42  46421.27  46286.25  46395.53  135.32479
...                       ...       ...       ...       ...        ...
2022-05-02 12:15:00  38508.62  38644.82  38508.62  38607.24  155.45922
2022-05-02 12:20:00  38607.25  38700.00  38607.24  38647.46  228.84522
2022-05-02 12:25:00  38647.46  38665.40  38614.15  38644.79  102.66850
2022-05-02 12:30:00  38644.80  38705.00  38566.16  38575.16  109.45798
2022-05-02 12:35:00  38575.16  38613.04  38534.00  38607.15  129.29841

[35000 rows x 5 columns]

In [12]:
fig = go.FigureWidget(layout=dict(autosize=True, height=600, template='plotly_white',
                                  legend=dict(x=0.4, y=1.01, orientation="h"),
                                  margin=dict(l=45, r=5, b=10, t=10, pad=3),
                                  xaxis_rangeslider_visible=False))

fig.add_candlestick(opacity=0.5)

fig

FigureWidget({
    'data': [{'opacity': 0.5, 'type': 'candlestick', 'uid': 'c4882564-a468-4800-ac37-8f190c851b…

In [23]:
@interact(ticker=(0, len(tickers)-1))
def update(ticker):
    C = pd.read_hdf('quotes.hdf', tickers[ticker]).iloc[:1000]
    with fig.batch_update():
        fig.data[0].open = C.Open
        fig.data[0].high = C.High
        fig.data[0].low = C.Low
        fig.data[0].close = C.Close

interactive(children=(IntSlider(value=1, description='ticker', max=3), Output()), _dom_classes=('widget-intera…